@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
  background-image: url('https://img.freepik.com/premium-vector/technology-hexagon-dark-futuristic-abstract-vector-background-with-pink-blue-colored-bright-flashes-hexagon-hexagonal-gaming-honeycomb-abstract-background_156943-959.jpg');  
  /* background-color: black; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
nav{
    /* background-color: rgba(33, 34, 51, 0.9); */
    background: transparent;
    color:whitesmoke;
    height:65px;
    font-size: 27px;
    /* display: flex;
    align-items: center; */
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}
nav ul{
    list-style-type: none;
    padding-top: 23px;
    /* color: blue; */
}
.gameContainer{
    /* background-color: yellowgreen; */
    display:flex;
    justify-content: center;
    margin-top: 50px;
}
.container{
    position: relative;
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
}
.box{
    border:2px solid royalblue;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: blue; */
}
.box:hover{
    background-color: rgb(67, 64, 65);
}
.gameInfo{
    font-family: 'Baloo Bhaina 2', cursive;
    padding-left: 34px;
}
.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}
.info{
    font-size: 25px;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left:0;
}
.bt-0{
    border-top:0;
}
.bb-0{
    border-bottom:0;
}
.MusicBox{
    display: flex;
    justify-content: end;
}
.MusicBox h2{
    padding-right: 12px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    border-radius: 15px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

.slider:before {
    border-radius: 15px;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  #reset{
    font-family: cursive;
    font-size: 19px;
    font-weight: bold;
    margin:0 23px;
    padding :6px 14px;
    background-color: rgb(201, 50, 204);
    border-radius: 7px;
    cursor: pointer;
  }
  #reset:hover{
    background-color: royalblue;
  }
 .gameInfo h1{
    font-size: 2.5rem;
 }
  @media screen and (max-width: 1200px) {
    .gameContainer{
        flex-wrap: wrap;
    }
    .container{
        display: grid;
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
    .gameInfo h1{
        font-size: 2rem;
     }
  }